AI Agent.json
{
  "name": "AI Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "01d53dfe-127a-4525-acba-dd192f4140ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?points=5",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        0
      ],
      "id": "4689a3ca-67f1-4f51-b285-672e590cf6a1",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "resource": "Default",
        "operation": "Scrape A Url And Get Its Content",
        "url": "={{ $json.link }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "9c102de2-e611-4f47-a978-52638282e792",
      "name": "Scrape A Url And Get Its Content",
      "credentials": {
        "fireCrawlApi": {
          "id": "bs2lcRz5CanLZrkv",
          "name": "FireCrawl account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "2a9cfedf-f44f-47f1-a405-d9bf97c4d135",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "you are news assistants, i need you to make the data summary"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "dca0f2ab-a40d-471a-8318-5cea53147744",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "f7da4095-6bfe-4e3f-abb5-ae8612b28f96",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QouxmxjiteGl1E7H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        0
      ],
      "id": "790d6d46-f0ac-4dc5-b5e3-0ee83bfa2393",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.join(\"\\n\\n\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1392,
        0
      ],
      "id": "4f7f3249-6c6c-4c6a-8e1e-4bdfb986b826",
      "name": "Markdown"
    },
    {
      "parameters": {
        "sendTo": "teechinyean@gmail.com",
        "subject": "n8n testing",
        "message": "={{ $json.output.join(\"\\n\\n\\n\\n\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        0
      ],
      "id": "edecb61e-4403-425a-afcb-b530bf5e0961",
      "name": "Send a message",
      "webhookId": "aebb4f8c-c794-4ce4-bd41-ec697e640f5f",
      "credentials": {
        "gmailOAuth2": {
          "id": "1OISUkPzgQ45KfZC",
          "name": "Gmail"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "Based on the metadata provided, here is a summary of the news:\n\n**Player Alleges Ubisoft Support Gave 2FA-Protected \"Rainbow Six Siege\" Account to Hacker**\n\nA Reddit user, \"p0kehunter2,\" has claimed that Ubisoft's customer support team gave their \"Rainbow Six Siege\" account to a hacker, even though the account was protected by 2-Factor Authentication (2FA).\n\nIn a post on the r/Rainbow6 subreddit, the user, a long-time player with over 1,200 hours logged, detailed the alleged incident. The post, which has gained significant traction with over 1,500 upvotes and 114 comments, raises concerns about the security protocols of Ubisoft's support system. The user's story suggests that a security measure designed to protect accounts was bypassed by the company's own staff."
        }
      },
      {
        "json": {
          "output": "Of course. Here is a summary of the provided data:\n\n**Raspberry Pi Launches Radio Module 2 for $4**\n\nRaspberry Pi has announced the immediate availability of its new **Radio Module 2**, priced at just $4. According to the announcement by Raspberry Pi CEO Eben Upton, the module is a pre-certified component designed to provide a simple, \"turnkey\" wireless connectivity solution for products based on the company's RP2040 and RP2350 microcontrollers. This new hardware aims to streamline the development of wirelessly-enabled devices for hobbyists and commercial producers alike."
        }
      },
      {
        "json": {
          "output": "Based on the metadata from the MacRumors article, here is a summary of the news:\n\n**Headline:** New MacBook With A18 Pro Chip Spotted in Apple Code\n\n**Source:** MacRumors\n\n**Summary:**\nEvidence found in Apple's backend code suggests the company is developing a new MacBook that will be powered by an A18 Pro chip. The discovery, reported by MacRumors, points to the existence of a future laptop using this unannounced processor."
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape A Url And Get Its Content": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Scrape A Url And Get Its Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "604252f9-f614-474c-bbf7-46c2ce51a97a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "add62c6834af121e73a18d4dbc8fd6698de4faf81a123fe25f19e47fc492ac8e"
  },
  "id": "WkOTebUJCxUQ8EWC",
  "tags": []
}